@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  width: 100%;
}

body {
  margin: 0;
  display: flex;

  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: .5em;
  width: .5em;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

#root {
  width: 100%;
  max-width: 1280px;
}

.heading {
  filter: drop-shadow(32px 0px 24px #777) drop-shadow(-32px 0px 24px #777) drop-shadow(0px 0px 8px #444);
}

.input-field {
  box-shadow: inset 0 0 2px black;
}

.input-field.selected,
.input-field:focus {
  outline: none;
  box-shadow: inset 0 0 4px black, 0 0 10px 1000px rgba(105, 105, 105, 0.3);
}

.button-add {
  box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.692);
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.drag {
  box-shadow: 0 0 20px black;
}